@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pacifico', cursive;
    background-color: #2B2D42;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

.inBoxSection{
    display: flex;
    
    width: 100%;
    height: 100vh;

}
.confetti {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    position: absolute;
  }
.backSec {
    
    
    width: 1000px;
    height: 100vh;

    background:url('https://img.freepik.com/vetores-gratis/papel-de-parede-de-fundo-de-flores-vetor-fofo_53876-136877.jpg?w=740&t=st=1709472632~exp=1709473232~hmac=9a0a7652e12618f696ca18e2ccc0cbe47ffb9e10acf8d4d65b11d1a6627dfa82') no-repeat;
    background-size: 1000px ;
    opacity: 100%;
    filter: blur(1px);

}

.gifSec {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('https://i.pinimg.com/originals/6c/d7/4b/6cd74bae87b2025e3d671a23dbf4b3ca.gif');
    background-size: 600px;

    top: 0;
    
    filter:saturate(10);

}

.perfilSec {
    display: flex;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    justify-content: center;
   
    
   
    
}
.imgPerfilSec {
    display: flex;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 130px;
    background-size: 100% ;
   
    border-radius: 30%;
    box-shadow: 0px 5px 2px 1px rgba(0, 0, 0, 0.2);

}
.heartPerfil {
    
    width: 120px;
    height: 120px;
    position: absolute;
    top: 420px;
    background: url('./src/img/heart.png') no-repeat;
    background-size: 100%;
}

.heart{
    position: absolute;
    width: 100px;
    height: 90px;
    top: 440px;
}
.heart:before,
.heart:after{ 
    content: "";
    position: absolute;
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #f12b2b;
    border-radius: 50px 50px 0;
    transform-origin: 0 100%;
    transform: rotate(-45deg);
}
.heart:after{
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}

/* Keyframe animation */
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply the animation to the heart shape */
.heart {
  animation: heartbeat 3.3s infinite;
}

.downSec {
    display: flex;
    width: 100%;
    height: 100vh;
    background: url('https://i.pinimg.com/564x/3e/79/1b/3e791b8f26bd4d6ae91cb863545d1482.jpg') no-repeat;
    flex-direction: column;
    align-content: center;
    align-items: center;

}
.imgManuBox {
    position: relative;
    display: flex;
    top: 200px;
    

}
.imgManuzinha {
    
    width: 300px;
    height: 350px;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.2);

}


.capbirt {
    position: absolute;
    top: -120px;
    left: 25%;
    width: 150px;
    height: 150px;
    
}

.overlay {
    position:fixed;
    display: none;
    height: 100vh;
    width: 100%;

    left: 0;
    bottom: 0;
   
   
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  .overDiv {
    display: flex;
    flex-direction: column;
    align-items: center;


  }
.heartOverlay {
  position: relative;
  width: 100px;
  height: 100px;
  top: 50px;
  background: url('./src/img/heart.png') no-repeat;
  background-size: 100%;


}
.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}


  
 