@media (max-width: 1366px){
    .inBoxSection{
        display: flex;
        width: 100vw;
        height: 100vh;
    
    }
    .backSec {
        
        
        width: 1366px;
        
    
        background:url('https://img.freepik.com/vetores-gratis/papel-de-parede-de-fundo-de-flores-vetor-fofo_53876-136877.jpg?w=740&t=st=1709472632~exp=1709473232~hmac=9a0a7652e12618f696ca18e2ccc0cbe47ffb9e10acf8d4d65b11d1a6627dfa82') no-repeat;
        background-size: 1400px ;
      
    
    }
    .gifSec {
        position: absolute;
        width: 100vw;
        
        background-size: 800px;

        
    
    }
    
    .perfilSec {
        display: flex;
        
       
        top: 0px;
        width: 100%;
        height: 100vh;
        
       
        
    }
    .imgPerfilSec {
        display: flex;
       
        width: 300px;
        height: 300px;
        
        
       
    
    }
    .heartPerfil {
        
        width: 120px;
        height: 120px;
        position: absolute;
        left: 1000px;
        top: 420px;
        background: url('./src/img/heart.png') no-repeat;
        background-size: 100%;
    }
    .downSec {
        display: flex;
        width: 1366px;
        height: 100vh;
        background: url('https://i.pinimg.com/564x/3e/79/1b/3e791b8f26bd4d6ae91cb863545d1482.jpg') no-repeat;
        background-size: 1700px;
        
    
    }
    .imgManuBox {
        position: relative;
        display: flex;
        top: 210px;
        
    
    }
    .imgManuzinha {
        
        width: 300px;
        height: 350px;
        box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.2);
    
    }
    
    
    .capbirt {
        position: absolute;
        top: -110px;
        left: 25%;
        width: 150px;
        height: 150px;
        
    }
    .effect-text {
        top: 1240px

    }





  }
@media (max-width: 428px) {
    .inBoxSection{
        display: flex;
        position: relative;
        width: 414px;
        height: 896px;
    
    }
   
    .backSec {
        
        
        width: 100%;
        height: 896px;
    
        background:url('https://img.freepik.com/vetores-gratis/papel-de-parede-de-fundo-de-flores-vetor-fofo_53876-136877.jpg?w=740&t=st=1709472632~exp=1709473232~hmac=9a0a7652e12618f696ca18e2ccc0cbe47ffb9e10acf8d4d65b11d1a6627dfa82') no-repeat;
        background-size: 1400px ;
       
        filter: blur(1px);
    
    }
    
    .gifSec {
        position: absolute;
        width: 414px;
        height: 100vh;
        background-image: url('https://i.pinimg.com/originals/6c/d7/4b/6cd74bae87b2025e3d671a23dbf4b3ca.gif');
        background-size: 800px;
    
        top: 0;
        
        filter:saturate(10);
    
    }
    
    .perfilSec {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0px;
       
        
    }
    .imgPerfilSec {
        
       
        width: 300px;
        height: 300px;
      
        
    }
    .heartPerfil {
        
        width: 120px;
        height: 120px;
        position: absolute;
        top: 420px;
        background: url('./src/img/heart.png') no-repeat;
        background-size: 100%;
    }
  
    .downSec {
        display: flex;
        width: 414px;
        height: 100vh;
        background: url('https://i.pinimg.com/564x/3e/79/1b/3e791b8f26bd4d6ae91cb863545d1482.jpg') no-repeat;
        background-size: 1000px;
        flex-direction: column;
        align-content: center;
        align-items: center;
    
    }
    .imgManuBox {
        position: relative;
        display: flex;
        top: 210px;
        
    
    }
    .imgManuzinha {
        
        width: 300px;
        height: 350px;
        box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.2);
    
    }
    
    
    .capbirt {
        position: absolute;
        top: -110px;
        left: 25%;
        width: 150px;
        height: 150px;
        
    }
    .effect-text {
        top: 1440px

    }
    .overDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vb;
    
    
      }






  }
  @media (max-width: 390px) {
    .inBoxSection{
        display: flex;
        position: relative;
        width: 414px;
        height: 103vh;
    
    }
    .perfilSec {
        
        flex-direction: column;
        align-items: center;
        top: 0px;
       
        
    }
   
    .backSec {
        
        
        width: 100%;
        height: 103vh;
    
        background-size: 1300px ;
       
    
    }
    .downSec{
        height: 103vh;
    }
    .confetti {
        height: 103vh;
    }
    .effect-text {
        top: 1320px

    }
    
    
 
    
  }
  